---
layout: "base.njk"
templateEngineOverride: njk,md
---

<section id="banner" class="style2">
    <div class="inner">
        <span class="image">
            <img src="/assets/images/pic07.jpg" alt="" />
        </span>
        <header class="major">
            <h1>{{ title }}</h1>
        </header>
        <div class="content">
            <p>{{ desc }}<br /> {{ desc1 }}</p>
        </div>
    </div>
</section>
<div id="main">
<!-- One -->
    <section id="one">
        <div class="inner">
            <header class="major">
                <h2>{{ section_1_title }}</h2>
            </header>
            <p>{{ section_1_desc }}</p>
        </div>
    </section>
<!-- Two -->
    <section id="two" class="spotlights">
        <section>
            <a href="generic.html" class="image">
                <img src="{{ section_21_img }}" alt="" data-position="center center" />
            </a>
            <div class="content">
                <div class="inner">
                    <header class="major">
                        <h3>{{ section_21_title }}</h3>
                    </header>
                    <p>{{ section_21_desc }}</p>
                    <ul class="actions">
                        <li><a href="generic.html" class="button">Learn more</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <section>
            <a href="generic.html" class="image">
                <img src="" alt="" data-position="top center" />
            </a>
            <div class="content">
                <div class="inner">
                    <header class="major">
                        <h3></h3>
                    </header>
                    <p></p>
                    <ul class="actions">
                        <li><a href="generic.html" class="button">Learn more</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <section>
            <a href="generic.html" class="image">
                <img src="" alt="" data-position="25% 25%" />
            </a>
            <div class="content">
                <div class="inner">
                    <header class="major">
                        <h3></h3>
                    </header>
                    <p></p>
                    <ul class="actions">
                        <li><a href="generic.html" class="button">Learn more</a></li>
                    </ul>
                </div>
            </div>
        </section>
    </section>
    <!-- Three -->
    <section id="three">
        <div class="inner">
            <header class="major">
                <h2></h2>
            </header>
            <p></p>
            <ul class="actions">
                <li><a href="generic.html" class="button next">Get Started</a></li>
            </ul>
        </div>
    </section>
</div>